*.egg-info
*.DS_Store
uv.lock
__pycache__
config.yaml
*.env
**/.env
build
*.pyc
.venv/
.deepeval/
.vscode/
datasets/
results/
agent_system/AutoGen_GSM8K/.cache
agent_system/LangGraph_Spider/data
agent_system/OpenRCA/dataset/Market
agent_system/OpenRCA/dataset/Market.zip
agent_system/SWE/.cache
*.log
*.csv
*.json
*.zip
*.pdf
*.png
all_backup/
results_bak*
llmqa/